.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 200px;
    top: 400px;
    position: absolute;
  }
  
  .baloon {
    width: 200px;
    left:300px;
    position: absolute;
  }
  
  .speach {
    font-size: 15px;
    position: absolute;
    left:320px;
    top: 110px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    top: 200px;
    left: 450px;
    position: absolute;
  }